#table{
    text-align: center;
    text-transform: capitalize;
    font-size: medium;
    align-content: center;
}
#content1{
    text-align: right;
    text-transform: capitalize;
    background-color: black;
    color: aqua;
    text-decoration: none;
    font-size: 32px;
}
a{
    color: aqua;
}
#table4{
    text-align: center;
    text-transform: capitalize;
    font-size: medium;
    align-content: center;
}
#child{
    text-align: left;
    text-transform: capitalize;
    background-color: black;
    color: aqua;
    text-decoration: none;
    font-size: 32px;
}